#modalContacto{
  display: none;
        position: fixed;
        inset: 0;
        z-index: 1001;
        align-items: center;
        justify-content: center;
}
#modal{
  width: 90%;
        max-width: 520px;
        height: 85%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
}
#overlayContacto{
  display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1000;
}
footer {
  background: #0a0a0a;
  color: #f9fafb;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 0.9rem;
}